<main class="main mx-auto w-75 my-2">
  <div class="container">
    <a [routerLink]="'/'" class="text-decoration-none"><h2 class="header text-center font-bold">D-Calender App</h2></a>
    <mat-divider></mat-divider>
    <div class="controls d-flex justify-content-center align-items-center">
      <button mat-stroked-button>Today</button>
      <mat-form-field class="rounded-circle">
        <mat-label>Calender View</mat-label>
        <mat-select name="view-selection" [(ngModel)]="calenderView">
          <mat-option *ngFor="let view of calenderViews" value="view" [routerLink]="['view', view]">
            {{view | uppercase}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <mat-divider></mat-divider>
  </div>
  <router-outlet />
</main>
